<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125031884653-qfgebmpv4ohvum6m5mo1es33tpep7i91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125031884653-qfgebmpv4ohvum6m5mo1es33tpep7i91</string>
	<key>API_KEY</key>
	<string>AIzaSyDworZDJHTrfjZgttTx2ahxCUoh-FPWmYk</string>
	<key>GCM_SENDER_ID</key>
	<string>125031884653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ShelterSafe</string>
	<key>PROJECT_ID</key>
	<string>sheltersafe-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>sheltersafe-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125031884653:ios:25494db6ed715d8c849c64</string>
</dict>
</plist>